# Insert CSV file into SQL#

In [11]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\andre\anaconda3\lib\site-packages (4.0.34)Note: you may need to restart the kernel to use updated packages.

In [4]:
import pyodbc

%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
pd.show_versions()

C:\Users\Andre\anaconda3\Lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

INSTALLED VERSIONS
------------------
commit           : 0f437949513225922d851e9581723d82120684a6
python           : 3.11.5.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.19045
machine          : AMD64
processor        : Intel64 Family 6 Model 142 Stepping 9, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : pt_BR.cp1252

pandas           : 2.0.3
numpy            : 1.24.3
pytz             : 2023.3.post1
dateutil         : 2.8.2
setuptools       : 68.0.0
pip              : 23.2.1
Cython           : None
pytest           : 7.4.0
hypothesis       : None
sphinx           : 5.0.2
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : 4.9.3
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 3.1.2
IPython          : 8.15.0
pandas_datareader: None
bs4              : 4.12.2
bottleneck       : 1.3.5
brotli           :
fastparquet      : None
fsspec           : 2023.4.0
gcsfs            : None
matplotlib       : 3.7.2
numba            : 0.57.1
numexpr          : 2.8.4
odfpy            : None
openpyxl         : 3.0.10
pandas_gbq       : None
pyarrow          : 11.0.0
pyreadstat       : None
pyxlsb           : None
s3fs             : 2023.4.0
scipy            : 1.11.1
snappy           :
sqlalchemy       : 1.4.39
tables           : 3.8.0
tabulate         : 0.8.10
xarray           : 2023.6.0
xlrd             : None
zstandard        : 0.19.0
tzdata           : 2023.3
qtpy             : 2.2.0
pyqt5            : None

In [13]:
pyodbc.drivers()

['SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)']

In [14]:
import traceback

try:
    import mysql.connector
except:
    !pip install mysql-connector-python
    import mysql.connector

"mysql.connector.__version__: " + mysql.connector.__version__

'mysql.connector.__version__: 8.3.0'

In [15]:
try:
    cnx = mysql.connector.connect(
        user='meec1',
        password='00meec',
        host='127.0.0.1', # in your case replace by 'localhost'
        database='teste_ipma_pt'
    )
except mysql.connector.Error as e:
    print(f"problems opening the connection to mysql: {e}")
else:
    print("ok!")
    cnx.close()

ok!

In [16]:
from config1 import config as conf

try:
    cnx = mysql.connector.connect(**conf)
except mysql.connector.Error as e:
    print(f"problems opening the connection to mysql: {e.msg}")
else :
    print("ok!")
    cnx.close()

ok!

In [6]:
df = pd.read_csv("Evapotranspiracao - et0-0810-olhao.csv")

In [7]:
df.head()

         date   minimum   maximum     range      mean       std
0  2023-11-26  1.027860  1.086159  0.058297  1.055989  0.015768
1  2023-11-27  1.260929  1.295850  0.034920  1.275380  0.008782
2  2023-11-28  1.091040  1.110020  0.018984  1.098709  0.005030
3  2023-11-29  0.929130  1.026909  0.097777  0.976738  0.026070
4  2023-11-30  0.801846  0.907908  0.106060  0.854376  0.028434

In [28]:
## to drop unnecessary columns
#cols = ['minimum','maximum','range','mean','std']
#df.drop(cols, inplace=True, axis = 1)
#df.head()

In [8]:
# Check for missing values
df.isnull().sum()

date       0
minimum    0
maximum    0
range      0
mean       0
std        0
dtype: int64

In [11]:
#Handle data types
df.dtypes

date       datetime64[ns]
minimum           float64
maximum           float64
range             float64
mean              float64
std               float64
dtype: object

In [10]:
#Converting date object into dateTime
df['date'] = pd.to_datetime(df['date'])

In [1]:
pip install mysqlclient

Collecting mysqlclient
  Obtaining dependency information for mysqlclient from https://files.pythonhosted.org/packages/64/0c/338ff73f627db62f2c321bcda61eddb80a384933aa543e3f59821b3c9756/mysqlclient-2.2.4-cp311-cp311-win_amd64.whl.metadata
  Downloading mysqlclient-2.2.4-cp311-cp311-win_amd64.whl.metadata (4.6 kB)
Downloading mysqlclient-2.2.4-cp311-cp311-win_amd64.whl (203 kB)
   ---------------------------------------- 0.0/203.2 kB ? eta -:--:--
   ------------------------------------- - 194.6/203.2 kB 12.3 MB/s eta 0:00:01
   ---------------------------------------- 203.2/203.2 kB 6.2 MB/s eta 0:00:00
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.4
Note: you may need to restart the kernel to use updated packages.

In [29]:
import csv
import MySQLdb


with open("Evapotranspiracao - et0-0810-olhao2.csv",'r') as file:
    reader = csv.reader(file)

    connection = MySQLdb.connect(host="localhost",user="meec1",password="00meec",db='teste_ipma_pt')

    cursor = connection.cursor()
    
    for row in reader:
        cursor.execute('''INSERT INTO `evapotranspiracao` (`id`, `date`,`minimum`, `maximum`, `range`, `mean`, `std`) VALUES (DEFAULT, %s, %s, %s, %s, %s, %s)''',row)
        
        connection.commit()
cursor.close()

connection.close()